# .env.example

# Database Configuration
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password

# Backend Configuration
DATABASE_URL=postgresql://your_db_user:your_db_password==@postgres:5432/your_db_name
LISTEN_ADDR=0.0.0.0:4001
CACHE_DURATION_MINUTES=60
RUST_LOG=buses_api=debug,warn
JWT_SECRET_KEY=your_jwt_secret_key
