wwwroot/lib
**/node_modules
**/bin
**/obj
**/Properties
*.lock
secrets.json
*.sln
.env
.env.*
!.env.example
logs/
package-lock.json
*.old
appsettings*.json
!appsettings.example.json
wwwroot/**/*.js
wwwroot/**/*.map
wwwroot/**/*.css
*.py
*.yml
*.log
!Scripts/*.py
.DS_Store
watcher/dist/**.js
watcher/dist/**.map
watcher/dist/**.css
certs/**