wwwroot/lib
**/node_modules
**/bin
**/obj
**/Properties
*.lock
secrets.json
*.sln
.env
.env.*
!.env.example
logs/
package-lock.json
*.old
appsettings*.json
!appsettings.example.json
wwwroot/js/*.js
wwwroot/**/*.map
wwwroot/css/*.css