::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: $primary;
  color: white;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.6;
  color: $text;
  background-color: $background;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  body,
  html {
    font-size: 14px;
  }
}