// SASS Variables
$primary: #e84430;
$secondary: #13253c;
$accent: #e74c3c;
$background: #fff;
$text: #333333;
$light-grey: #e9ecef;
$dark-grey: #495057;
$status-arrived: #28a745;
$status-not-arrived: #e74c3c;

// Color variations
$primary-dark: darken($primary, 10%);
$primary-hover: rgba($primary, 0.1);
$secondary-dark: darken($secondary, 10%);
$accent-light: lighten($accent, 35%);
$surface: #e9ecef;
$border: darken($surface, 5%);
$shadow-color: rgba(0, 0, 0, 0.1);
$surface-alt: hsl(0, 0%, 97%);

// Other variables
$font-family: Ubuntu, sans-serif;
$spacing-unit: 1rem;
$button-border-radius: 0.5625rem;
$regular-border-radius: 1.1875rem;
$navbar-height: 70px;
$dropdown-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);